numpy==1.24.3
pandas==1.5.3
contractions~=0.1.73
nltk~=3.7
gensim
wordcloud
seaborn
matplotlib
joblib
tensorflow==2.14.0
keras==2.14.0
djangorestframework~=3.14.0
django~=5.0
django-allauth
fitz~=0.0.1.dev2
grpcio-tools
pytest
pathlib~=1.0.1
uvicorn
gunicorn
whitenoise
djoser
loguru
