numpy~=1.26.2
pandas~=2.1.4
contractions~=0.1.73
nltk~=3.8.1
gensim~=4.3.2
wordcloud
seaborn
matplotlib
joblib~=1.3.2
tensorflow
keras
djangorestframework~=3.14.0
django~=5.0
django-allauth
fitz~=0.0.1.dev2
grpcio-tools
pytest
pathlib~=1.0.1
uvicorn
gunicorn
whitenoise
djoser
