.md-key-word {
    padding: 5px; color: rgb(9, 171, 59); background-color: rgb(248, 249, 251);
    border-radius: 20%;
}

.resume-card {
    cursor: pointer;
}


/* Progress bar */
.progress-container {
  display: flex;
  justify-content: center;
}

.progress-message {
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.progress-bar {

}


/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #FF6700;
}
